@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:ital,wght@0,300;0,400;1,400&family=Mukta:wght@400;500;600&display=swap");

:root {
	--brown: #7d6448;
	--light-brown: #a58c6c;
}
body {
	margin: 0;
	padding: 0;
	color: #252525;
	font-family: "Mukta", sans-serif;
	font-size: 14px;
	text-align: justify;
}
h1,
h2,
h3 {
	font-family: "Cormorant Garamond";
}

/* HEADER BAR */
header {
	width: 100%;
	background-color: #cfc6ba;
	margin: 0;
	border-bottom: 1px solid #beb2a4;
}
header > p {
	margin: 0;
	padding: 3px;
	font-size: 2em;
	font-family: "Abril Fatface", cursive;
	text-align: center;
	word-spacing: 2px;
	letter-spacing: 1px;
}

/* CONTAINERS AND WRAPPER */
main {
	width: 70%;
	margin: auto;
	margin-top: 120px;
}
.main-content {
	/* background-color: #ff7f7f; */
	display: grid;
	grid-template-columns: 75% 25%;
}
.main-article-wrapper {
	/* background-color: #7fffd4; */
	padding-right: 20px;
}
aside {
	background-color: #eeedec;
	padding: 15px;
	border: 1px solid #7d6448;
	height: 55em;
}

/* ARTICLE TITLE */
main > h1 {
	/* background-color: #ffec7f; */
	border-bottom: 2px solid #beb2a4;
	padding-bottom: 5px;
	font-style: italic;
	font-size: 2.7em;
	font-weight: 300;
}
.main-subtitle {
	border-bottom: 1px solid #beb2a4;
	padding-bottom: 5px;
}

/* CONTENT TABLE SECTION */
ol {
	padding-left: 30px;
}
ol > li > a {
	text-decoration: none;
	padding-left: 10px;
	color: #252525;
}
ol > li > a:hover {
	color: #a58c6c;
}

/* ASIDE SECTION */

img {
	width: 100px;
}
